.bg {
  background-image: url(/assets/fond.png);
  width: auto;
  height: 100%;
  background-size: cover;
}

html, body {
  height: 100%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 100;
}

.navbar {
  background-color: rgb(255, 255, 255);

  display:flex;
  justify-content: space-around;

}

.navbar h3 {
  margin-bottom: 0px;
  font-size: 1.5rem;
}

.now-open {
  margin: 0 auto;

}

.title {
    font-size: 3rem;
    color: white;
  }

/* Animation */
.blink {
  animation: blink-animation 0.5s infinite;
}

@keyframes blink-animation {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0
  }
  100% {
    opacity: 1;
  }
}

.about {
  text-decoration: none;
  color: black;
}

/* styles.css */

.mac-popup-1 {
  position: fixed;

  transform: translate(-50%, -50%);
  background-color: #f6f6f6;

  border-radius: 8px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 90%;
  z-index: 9999; /* Assure que la pop-up est au-dessus de tout le reste */

}
.mac-popup-2 {
  position: fixed;

  transform: translate(-50%, -50%);
  background-color: #f6f6f6;
  border: 1px solid #ccc;
  border-radius: 8px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 480px;
  width: 90%;
  z-index: 9999; /* Assure que la pop-up est au-dessus de tout le reste */

}

.mac-popup-3 {
  position: fixed;

  transform: translate(-50%, -50%);
  background-color: #f6f6f6;
  border: 1px solid #ccc;
  border-radius: 8px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 480px;
  width: 90%;
  z-index: 9999;

}
.mac-popup-4 {
  position: fixed;

  transform: translate(-50%, -50%);
  background-color: #f6f6f6;
  border: 1px solid #ccc;
  border-radius: 8px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 90%;
  z-index: 9999; /* Assure que la pop-up est au-dessus de tout le reste */

}





.mac-popup-header {
  display: flex;

  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 0px 1rem 0px 1rem;



  background-color: #DEDEDE;
}

.mac-popup-buttons {
  display: flex;
  gap: 5px;
}

.mac-popup-button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 4px;
}

.close {
  background-color: #f44336; /* Rouge */

}



.minimize {
  background-color: #ffb74d; /* Jaune */
}

.zoom {
  background-color: #4caf50; /* Vert */
}

.mac-popup-title {
  font-weight: bold;
  font-size: 18px;
}

.mac-popup-content {
  line-height: 1.6;
}

.pLine {
  position: relative;
  top: 150px;
  position: flo;
}
