.navbar {
  background-color: grey;
  font-family: Arial, Helvetica, sans-serif;
  display:flex;
  justify-content: space-around;
}

.now-open {
  margin: 0 auto;

}

  .now-open {
    font-size: 48px;
  }

/* Animation */
.blink {
  animation: blink-animation 1s infinite;
}

@keyframes blink-animation {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.about {
  text-decoration: none;
  color: black;
}
